      <div class="menu">
        <%= image_tag("bigapplogo.svg") %>
        <div class="fixed">
          <ul>
            <li href="javascript: $.scrollTo('#projects', 800, {easing:'swing'});"><%= link_to "Projects", "#projects" %></li>
            <li><%= link_to "Our Team", "#team" %></li>
            <li><%= link_to "How we work", "#workstyle" %></li>
            <li><%= link_to "Contact", "#contact" %></li>
          </ul>
          <p>Call us:<br>+36 20 534 1904</p>
        </div>
      </div>
      <div class="content">
        <header class="text-center">
          <div class="video">
            <div class="h">
              <a href="javascript:false"; class="toggle-nav btn btn-lg btn-success">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <div class="AM">APP<span>MAINTAINERS</span></div>
            </div>
            <div class="line"></div>
            <%= image_tag("logo.svg") %>
            <h1>We maintain & build Ruby on Rails apps.</h1>
            <a href="#"> &#9658; How do we do it?</a>
          </div>

          <div class="row">
            <div class='col-xs-6'>We closed <br><span id="tickets_last_month">352</span><br> tickets last month</div>
            <div class='col-xs-6'>We wrote approx. <br><span id="lines_this_week">1,400</span><br> lines of code this week</div>
          </div>
        </header>

        <section class="projects", id="projects">
          <h2>Projects</h2>
            <% @cards.each do |card| %>
              <div class="project"; style="z-index: <%= card.id %>">
                <h4><%= card.category.split.map{|cat| "##{cat}"}.join(", ") %></h4>
                <h3><%= card.project %></h3>
                <p><%= card.solution %></p>
                <div class="row">
                  <div class='sor col-xs-5'>Tools</div>
                  <div class='sor col-xs-offset-2 col-xs-5'>Difficulty</div>
                  <div class='col-xs-5'><%= card.tech.to_s.split.join(", ") %></div>
                  <div class='col-xs-offset-2 col-xs-5'>
                    <% (1..5).each do |circle| %>
                      <div class=<%= card.difficulty >= circle ? "circle_full" : "circle_empty" %> ></div>
                    <% end %>
                  </div>
                </div>
                <div class="arrow"></div>
              </div>
            <% end %>
          
          <div class='button'>
            <a href="#">More projects</a>
          </div>
        </section>

        <section class="team", id="team">
          <h2>Our Team</h2>
          <p>We believe that good communication is just as important as coding. Which means that you will be in direct contact with our lead developers.</p>
          
          <div class="row bosses">
            <div class='profil col-xs-6'>
              <%= image_tag("Bence_2.jpg") %>
              <p>Bence Erdős</p>
              <h3>ceo</h3>
            </div>
            <div class='profil col-xs-6'>
              <%= image_tag("Attila.jpg") %>
              <p>Attila Juhász</p>
              <h3>cto</h3>
            </div>
          </div>

          <%# <div class="row employee">
            <div class='profil col-xs-6'>
              <%= image_tag("Boti.jpg") %
              <p>Botond Erdős</p>
              <h3></h3>
            </div>
            <div class='profil col-xs-6'>
              <%= image_tag("Soma.jpg") %
              <p>Soma Stágel</p>
              <h3></h3>
            </div>
          </div> %>
        </section>

        <section class="workstyle", id="workstyle">
          <h2>How we work</h2>
          <p>We start every project with a personal discussion with the project stakeholders. We assess the task, define the goals and we create a detailed timing.</p>
          <%= image_tag("video.jpg") %>
          <!--
          <video width="320" height="240" controls>
            <source src="movie.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
            <object data="movie.mp4" width="320" height="240">
              <embed src="movie.swf" width="320" height="240">
            </object> 
          </video>
          -->
          <h3>We know that every project is unique. We can either adapt our workflow to fit your environment (code repository, ticketing system, etc.) or we can get you familiar with our tried and tested industry standard tools. We operate our projects in two different modes: building and maintaining.
          <br>
          <br>
          <span>~/.build</span>
          <br>
          When we build a new project we define clear milestones. We also divide the larger milestones into smaller sprints which helps us and you effectively track the project.
          <br>
          <br>
          <span>~/.maintain</span>
          <br>
          In maintenance mode we continuously monitor your project and act instantly if needed.</h3>
        </section>

        <section class="contact", id="contact">
          <h2>Contact us</h2>
          <p>We are eager to hear about your project!</p>
          
          <ul>
            <li>
              <h5>email</h5>
              <p><%= mail_to "hello@appmaintainers.com" %></p>
            </li>
            
            <li>
              <h5>phone</h5>
              <p>+36 20 534 1904</p>
            </li>

            <li>
              <h5>skype</h5>
              <p>app_maintainers</p>
            </li>

            <li>
              <h5>linkdin</h5>
              <p>linkdin.com/appmaintainers</p>
            </li>

            <li>
              <h5>office</h5>
              <p>H-1115 Budapest <br>Bártfai utca 54.</p>
            </li>
          </ul>

          <section class='map'>
            <div id="map-canvas"></div>
          </section>
        </section>
      </div>