      <div data-role="panel" class="menu">
        <%= image_tag("bigapplogo.svg") %>
        <div class="fixed">
          <ul>
            <li><%= link_to "Projects", "#projects" %></li>
            <li><%= link_to "Our Team", "#team" %></li>
            <li><%= link_to "How we work", "#workstyle" %></li>
            <li><%= link_to "Contact", "#contact" %></li>
          </ul>
          <p>Call us:<br>+36 20 534 1904</p>
        </div>
      </div>
      <div data-role="panel" class="content">
        <header class="text-center">
          <div class="video">
            <div class="header_bar">              
              <a href="javascript:false"; class="visible-xs toggle-nav btn btn-lg btn-success">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <div class="AM">APP<span>MAINTAINERS</span></div>
              <ul class="hidden-xs">
                <li><%= link_to "Projects", "#projects" %></li>
                <li><%= link_to "Our Team", "#team" %></li>
                <li><%= link_to "How we work", "#workstyle" %></li>
                <li><%= link_to "Contact us", "#contact" %></li>
              </ul>
            </div>
            <div class="line"></div>
            <%= image_tag("logo.svg") %>
            <div class="title">
              <h1>We maintain & build <br class="visible-lg">Ruby on Rails apps.</h1>
              <p class="hidden-xs">From a quick hotfix to large-scale web apps we are here to help you with your project.</p>
              <a href="#"> &#9658; How do we do it?</a>
            </div>
          </div>

          <div class="statistic">
            <div class="col-xs-6">We closed <br class="visible-xs"><span id="tickets_last_month">352</span><br class="visible-xs"> tickets last month</div>
            <div class="col-xs-6">We wrote approx. <br class="visible-xs"><span id="lines_this_week">1,400</span><br class="visible-xs"> lines of code this week</div>
            <div class="mask">
            </div>
          </div>
        </header>

        <section class="projects", id="projects">
          <h2>Projects</h2>
            <% @cards.each do |card| %>
              <div class="project", id="card-<%= card.id %>"; style="z-index: <%= card.id %>">
                <h4><%= card.category.split.map{|cat| "##{cat}"}.join(", ") %></h4>
                <h3><%= card.project %></h3>
                <p><%= card.solution %></p>
                <div class="row">
                  <div class="title col-xs-5">Tools</div>
                  <div class="title col-xs-offset-2 col-xs-5">Difficulty</div>
                  <div class="tool col-xs-5"><%= card.tech.to_s.split.join(", ") %></div>
                  <div class="circles col-xs-offset-2 col-xs-5">
                    <% (1..5).each do |circle| %>
                      <div class=<%= card.difficulty >= circle ? "circle_full" : "circle_empty" %> ></div>
                    <% end %>
                  </div>
                </div>
              </div>
              <%# <div class="arrow"></div> %>
            <% end %>

          <div class="button">
            <a href="#">more projects</a>
          </div>

            <% @cards.each do |card| %>
              <div class="one-project col-sm-12", id="one-<%= card.id %>">
                <div class="sign col-sm-1">
                  <%= link_to "javascript: return false" do %>
                    <span><</span><span class="back visible-lg">back</span>
                  <% end %>
                </div>
                <div class="data col-sm-11">
                  <h3 class="col-sm-8"><%= card.project %></h3>
                  <h4 class="col-sm-4"><%= card.category.split.map{|cat| "##{cat}"}.join(", ") %></h4>
                  <p class="col-sm-8"><%= card.solution %></p>
                  <div class="row col-sm-4">
                    <div class="title">Tools</div>                    
                    <div class="tool"><%= card.tech.to_s.split.join(", ") %></div>
                    <div class="title">Difficulty</div>
                    <div class="circles">
                      <% (1..5).each do |circle| %>
                        <div class=<%= card.difficulty >= circle ? "circle_full" : "circle_empty" %> ></div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>

        </section>

        <section class="team", id="team">
          <h2>Our Team</h2>
          <p>We believe that good communication is just as important as coding. Which means that you will be in direct contact with our lead developers.</p>
          
          <div class="row bosses">
            <div class="profil col-xs-6">
              <div class="Bence" style="background: url(<%=image_path('Bence_2.jpg')%>); background-position: center center"></div>
              <p>Bence Erdõs</p>
              <h3>ceo</h3>
              <h4 class="hidden-xs">Having a solid experience in company management and leadership I am capable of understanding IT problems of business focused clients. Finding the right solutions and helping clients to use their software infrastructure effectively is what continuously drives me.</h4>
            </div>
            <div class="profil col-xs-6">
              <div class="Attila" style="background: url(<%=image_path('Attila.jpg')%>); background-position: center center"></div>
              <p>Attila Juhász</p>
              <h3>cto</h3>
              <h4 class="hidden-xs">I have been working on web related projects for ten years. I've seen many setups, many apps and I solved countless bugs in enterprise level Rails apps. I love working with new technologies, always searching for the perfect technology, tool, solution.</h4>
            </div>
          </div>

          <div class="row employee">
            <div class="profil col-xs-6">
              <div class="Botond" style="background: url(<%=image_path('Boti.jpg')%>); background-position: center center"></div>
              <p>Botond Erdõs</p>
            </div>
            <div class="profil col-xs-6">
              <div class="Soma" style="background: url(<%=image_path('Soma.jpg')%>); background-position: center center"></div>
              <p>Soma Stágel</p>
            </div>
          </div>
        </section>

        <section class="workstyle", id="workstyle">
          <h2>How we work</h2>
          <p>We start every project with a personal discussion with the project stakeholders. We assess the task, define the goals and we create a detailed timing.</p>
          <%= image_tag("video.jpg") %>
          <!--
          <video width="320" height="240" controls>
            <source src="movie.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
            <object data="movie.mp4" width="320" height="240">
              <embed src="movie.swf" width="320" height="240">
            </object> 
          </video>
          -->
          <h3 class="col-sm-6">We know that every project is unique. We can either adapt our workflow to fit your environment (code repository, ticketing system, etc.) or we can get you familiar with our tried and tested industry standard tools. 
          <br>
          <br>
          We operate our projects in two different modes: building and maintaining.
          </h3>
          <h3 class="col-sm-6">
          <span>~/.build</span>
          <br>
          When we build a new project we define clear milestones. We also divide the larger milestones into smaller sprints which helps us and you effectively track the project.
          <br>
          <br>
          <span>~/.maintain</span>
          <br>
          In maintenance mode we continuously monitor your project and act instantly if needed.</h3>
        </section>

        <section class="contact", id="contact">
          <h2>Contact us</h2>
          <p>We are eager to hear about your project!</p>
          
          <ul class="email col-sm-4">
            <li>
              <h5>email</h5>
              <p><%= mail_to "hello@appmaintainers.com" %><br><br class="hidden-xs"></p>
            </li>
            
            <li>
              <h5>phone</h5>
              <p>+36 20 534 1904</p>
            </li>
          </ul>
          <ul class="skype col-sm-4">
            <li>
              <h5>skype</h5>
              <p><%= link_to "Bence Erdõs", "skype:bence_erdos" %>,
              <br class="hidden-xs">
              <%= link_to "Attila Juhász", "skype:goraffe" %></p>
            </li>

            <li>
              <h5>linkedin</h5>
              <p><%= link_to "appmaintainers", "https://www.linkedin.com/company/app-maintainers-limited", :target => "_blank" %></p>
            </li>
          </ul>
          <ul class="office col-sm-4">
            <li>
              <h5>office</h5>
              <p><%= link_to raw("H-1115 Budapest <br> Bártfai utca 54."), "https://www.google.hu/maps/place/B%C3%A1rtfai+utca+54/@47.464979,19.0290019,17z/data=!3m1!4b1!4m2!3m1!1s0x4741ddbf76f1c81f:0xba4de98c0266d5c8", :target => "_blank" %></p>
            </li>
          </ul>

          <section class="map col-sm-12">
            <div id="map-canvas"></div>
          </section>
        </section>
      </div>
