

    <header class="text-center", 'col-xs-12'>
      <h1>We maintain & build Ruby on Rails apps.</h1>
      <a href="#"> &#9658; How we do it?</a>

      <div>
        <p class='col-xs-6'>We closed <br><span><strong>352</strong></span><br> tickets last month</P>
        <p class='col-xs-6'>We wrote approx. <br><span><strong>1,400</strong></span><br> lines of code today</p>
      </div>
    </header>

    <section class='projects col-xs-12'>
      <h2>Projects</h2>
      <h3>It's not possible to share information about our projects, but we can share our succes stories.</h3>
      
      <div>
        <% @cards.each do |card| %>
          <div class="column">
            <h4><%= card.card_name %></h4>
            <h3><%= card.project %></h3>
            <p><%= card.problem %></p>
            <p><%= card.solution %></p>
            <div class='left upper col-xs-5'>Tools</div>
            <div class='right upper col-xs-5'>Difficulty</div>
            <div class='tools under col-xs-5'><%= card.category %></div>
            <div class='right under col-xs-5'>
              <% (1..5).each do |circle| %>
                <div class=<%= card.difficulty >= circle ? "circle_full" : "circle_empty" %> ></div>
              <% end %>
             </div>
          </div>
        <% end %>
      </div>
      <div class='button'>
        <a href="#">More projects</a>
      </div>
    </section>

    <section class='our-team'>
      <h2 class='col-xs-12'>Our Team</h2>
      <h3 class='col-xs-12'>We believe that good communication is just as important as coding. Which means that you will be in direct contact with our lead developers.</h3>
      <!-- Carousel -->
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <div>
              <img src="/assets/Bence_2.jpg">
              <p>Bence Erdős</p>
              <div class="carousel-caption">
                <h3>CEO</h3>
              </div>
            </div>
          </div>
          <div class="item">
            <div>
              <img src="/assets/Attila.jpg">
              <p>Attila Juhász</p>
              <div class="carousel-caption">
                <h3>CTO</h3>
              </div>
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
      
      <div class="bosses">
        <div class='profil col-xs-6'>
          <img src="/assets/Bence_2.jpg">
          <p>Bence Erdős</p>
          <h3>ceo</h3>
        </div>
        <div class='profil col-xs-6'>
          <img src="/assets/Attila.jpg">
          <p>Juhász Attila</p>
          <h3>cto</h3>
        </div>
      </div>

      <div class="employee">
        <div class='profil col-xs-3'>
          <img src="/assets/Boti.jpg">
          <p>Botond Erdős</p>
          <h3>sitebuilder</h3>
        </div>
        <div class='profil col-xs-3'>
          <img src="/assets/Soma.jpg">
          <p>Soma Stágel</p>
          <h3>sitebuilder</h3>
        </div>
        <div class='profil col-xs-3'>
          <img src="/assets/Gulu.jpg">
          <p>Gergely Gulu</p>
          <h3>sitebuilder</h3>
        </div>
        <div class='profil col-xs-3'>
          <img src="/assets/Maci.jpg">
          <p>Laci Maci</p>
          <h3>sitebuilder</h3>
        </div>
      </div>
    </section>

    <section class='work col-xs-12'>
      <h2>How we work</h1>
      <p>We start every project with a personal discussion with the project stakeholders. We assess the task, define the goals and we create a detailed timing.</p>
      <video width="320" height="240" controls>
        <source src="movie.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        <object data="movie.mp4" width="320" height="240">
          <embed src="movie.swf" width="320" height="240">
        </object> 
      </video>
      <h3>We know that every project is unique. We can either adapt our workflow to fit your environment (code repository, ticketing system, etc.) or we can get you familiar with our tried and tested industry standard tools. We operate our projects in two different modes: building and maintaining.
      <br>
      <br>
      ~/.build
      <br>
      When we build a new project we define clear milestones. We also divide the larger milestones into smaller sprints which helps us and you effectively track the project.
      <br>
      <br>
      ~/.maintain
      <br>
      In maintenance mode we continuously monitor your project and act instantly if needed.</h3>
    </section>

    <section class='toolkit col-xs-12'>
      <h2>Toolkit</h1>
      <p>We use these stuff</p>
      
      <ul>
        <li>Frameworks</li>
        <li>Databases</li>
        <li>Gems</li>
        <li>UI</li>
        <li>Hosting solutions</li>
      </ul>
    </section>

    <section class='contact col-xs-12'>
      <h2>Contact us</h2>
      <p>We are eager to hear about your project!</p>
      
      <ul>
        <li>
          <h5>email</h5>
          <p>hello@appmaintainers.hu</p>
        </li>
        
        <li>
          <h5>phone</h5>
          <p>+36 30 4720431</p>
        </li>

        <li>
          <h5>skype</h5>
          <p>app_maintainers</p>
        </li>

        <li>
          <h5>linkdin</h5>
          <p>linkdin.com/appmaintainers</p>
        </li>

        <li>
          <h5>office</h5>
          <p>H-1118 Budapest <br>Schweidel u. 27/b</p>
        </li>
      </ul>
    </section>

    <section class='map'>
      <h1 class='col-xs-12'></h1>
    </section>